@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}
body{
  overflow-x: hidden;
}



.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.278);
}


.inputbox {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.inputbox input {
  outline: none;
  border: 2px solid black;
  padding: 10px 2px;
  width: 40rem;
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}

.inputbox button {
  outline: none;
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.inputbox button:active {
  background-color: white;
  color: black;
}

.image{
  width: 200px;
  padding: 10px;
}

.stream-link{
  display: flex;
  flex-wrap: wrap;
  }

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  padding: 3px 6px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: medium;
}

.links:hover{
  color: rgb(236, 231, 231);
}

.main-data-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.286);
}

.main-data-box:hover{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.286);
}


@media only screen and (max-width: 500px) {
  .inputbox input {
    width: 15rem;
  }

  .main-data-box{
    margin: 2rem 0;
  }
}